__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/parts/sdists/python3-*/{PYTHON}.pth
*.log
local_settings.py
db.sqlite3
.env.template
.vscode/
.idea/
.DS_Store?
Thumbs.db
staticfiles/*
media/*
.coverage
htmlcov/
Dockerfile.dev  
docker-compose.yml (for local dev only)
.gitattributes#
