# Django Settings
SECRET_KEY=django-insecure-attibx@0$1tr7#mp^c0@v)#lt=^9x%h_v_5$(gxvo2k-mw#^qh
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (leave empty for SQLite)
DB_NAME=Portpro
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Supabase Configuration
SUPABASE_URL=https://ijgrxctbxztxvsukgqid.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqZ3J4Y3RieHp0eHZzdWtncWlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2NTcwNTksImV4cCI6MjA4NzIzMzA1OX0.saXUbMe7ALfTHrFvj4yw31xH-i8DriPMelAy3ZD93fc
SUPABASE_SERVICE_KEY=sb_publishable_CO1OsB5N_ucy_XZOpqF0Vg_DQ2Zf8TI

# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=harshitpriv.3@gmail.com
EMAIL_HOST_PASSWORD=upwhhrhkxynxxtdi
DEFAULT_FROM_EMAIL=harshitpriv.3@gmail.com

DATABASE_URL=postgresql://postgres.ijgrxctbxztxvsukgqid:4GPD-yZrduiE%406D@aws-1-ap-south-1.pooler.supabase.com:6543/Portpro

username=harsh
password=admin
email=harshitpriv.3@gmail.com
