asgiref==3.11.1
crispy-bootstrap5==2025.6
dj-database-url==3.1.2
Django==5.0.4
django-crispy-forms==2.5
django-debug-toolbar==6.2.0
djangorestframework==3.16.1
gunicorn==25.1.0
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.11.0
cloudinary
django-cloudinary-storage
